@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lastshuriken';
  src: url('/fonts/TheLastShuriken.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JujutsuKaisen';
  src: url('/fonts/JujutsuKaisen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.text-outline {
  -webkit-text-stroke: 1px white;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}